org: camilaespinoza
service: api-comentario

provider:
  name: aws
  runtime: python3.13	
  memorySize: 1024
  timeout: 20
  iam:
    role: arn:aws:iam::364506194159:role/LabRole	
  environment:
    TABLE_NAME: ${sls:stage}-t_comentarios
    BUCKET_NAME: ${sls:stage}-bucket-ingesta-comentarios-${aws:accountId}

functions:
  crear:
    handler: comentario.lambda_handler
    events:
      - http:
          path: /comentario/crear
          method: post
          cors: true
          integration: lambda

resources:
  Resources:
    TablaComentarios:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_NAME}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: uuid
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: uuid
            KeyType: RANGE
        # Set the capacity to auto-scale
        BillingMode: PAY_PER_REQUEST
    
    # NUEVO RECURSO: Bucket S3 para ingesta push
    BucketIngestaComentarios:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.BUCKET_NAME}
        AccessControl: Private
        # Configuración adicional para mejor organización
        Tags:
          - Key: Project
            Value: api-comentario
          - Key: Environment
            Value: ${sls:stage}
          - Key: CreatedBy
            Value: serverless-framework
